<div class="container noselect">
  <div class="d-flex justify-content-center">
    <nav aria-label="breadcrumb" >
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a (click)="goTohome()" class="bread"><i class='bx bx-home' ></i></a></li>
        <li class="breadcrumb-item active bread " aria-current="page">{{product?.title}}</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col">
      <app-banner [product]="product"></app-banner>
      </div>
      <div class="col">
        <div class="mb-3 row">
          <div class="col-sm-2">
            <h3><span class="badge rounded-3 bg-danger">{{product?.rating}}/10</span></h3>
          </div>
          <div class="col-sm-10">
          <h2 class="text-white">{{product?.title}}</h2>
          </div>

        </div>
        <div class="mb-3 row">
          <div class="col-sm-12">
            <p class="text-white">{{product?.description}}</p>
          </div>
        </div>
        <hr class="text-white">
        <div class="mb-3 row">
          <span for="inputPassword" class="col-sm-3 text-white">Genres:</span>
          <div class="col-sm-9">
            <span class="text-white"> {{product?.genres}}</span>
          </div>
        </div>
        <div class="mb-3 row">
          <span class="col-sm-3 text-white">Platforms:</span>
          <div class="col-sm-9">
            <span class="text-white"> {{product?.platforms}}</span>
          </div>
        </div>
        <div class="mb-3 row">
          <span class="col-sm-3 text-white">Tags:</span>
          <div class="col-sm-9">
            <span class="text-white"> {{product?.tags}}</span>
          </div>
        </div>

        <div class="mb-3 row">
          <span class="col-sm-3 text-white">Release Year:</span>
          <div class="col-sm-9">
            <span class="text-white"> {{product?.releaseYear}}</span>
          </div>
        </div>
        <hr class="text-white">
        <div class="mb-3 row">
          <h3 class="col-sm-4 text-muted">Medium Price:</h3>
          <div class="col-sm-8">
            <h4 class="text-danger"> {{product?.mediumPrice | currency}}</h4>
          </div>
        </div>
        <div class="mb-3 row">
          <h6 class="col-sm-3 text-muted">Release Date:</h6>
          <div class="col-sm-9">
            <h6 class="text-muted"> {{product?.releaseYear}}</h6>
          </div>
        </div>

        <button type="button" class="btn btn-danger btn-lg">VOTE NOW</button>
        <hr class="text-white">
      </div>
    </div>
    <div class="row mb-15 mt-5">
      <h6 class="text-danger text-center"><strong>DESCRIPTION</strong></h6>
      <div class="p-5 mb-4 bg-secondary bg-gray-700 p-2 bg-opacity-25 rounded-3 mt-3 text-muted">
        <div class="container-fluid py-5">
          <p class="col-md-12 fs-5"> {{product?.description}} </p>


        </div>
      </div>

    </div>
  </div>
