.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-radius: 48px;
  opacity: .5;
  transition: opacity .6s ease;
}
.carousel-indicators .active {
  opacity: 1;
  background: #FC4444;
}
.bread{
  color: #fff;
}
.breadcrumb-item a:hover {
  cursor: pointer;
}
.form-control{
  border: #FC4444 1px solid;
  background-color: #1B1919;
  color: #fff;

}
.form-select{
  border: #FC4444 1px solid;
  background-color: #1B1919;
  color: #fff;

}


.form-control:focus {
  border-color: #FC4444;
  box-shadow: 0 0 0 0.2rem rgba(224, 30, 30, 0.25);

}
.form-select:focus {
  border-color: #FC4444;
  box-shadow: 0 0 0 0.2rem rgba(224, 30, 30, 0.25);

}
select option[selected]{
  background-color: #FC4444;
}


.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}
.mb-15{
  margin-bottom: 5rem;
}


