<div class="container">
  <div class="d-flex justify-content-center">
    <nav aria-label="breadcrumb" >
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" class="bread"><i class='bx bx-home' ></i></a></li>
        <li class="breadcrumb-item active bread" aria-current="page">Create a Game</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col">
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="500px"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice"
              focusable="false"><rect width="100%" height="500px" fill="#777" /></svg>
              <div class="container">
                <div class="carousel-caption text-center">
                  <h1>Add a photo</h1>


                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col">
        <div class="mb-3 row">
          <div class="col-sm-2">
            <h3><span class="badge rounded-3 bg-danger">7,5/10</span></h3>
          </div>
          <div class="col-sm-10">
            <input type="text" placeholder="Enter game name" class="form-control text-white" >
          </div>

        </div>
        <div class="mb-3 row">
          <div class="col-sm-12">
            <input type="text" placeholder="Enter resume game here" class="form-control text-white" >
          </div>
        </div>
        <hr class="text-white">
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label text-white">Genres</label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option class="opt" value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label text-white">Studio:</label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label text-white">Company</label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label text-white">Platforms:</label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label text-white">Tags:</label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label  class="col-sm-2 col-form-label text-white">Medium Price:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control text-white"  placeholder="Enter medium price" >
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label text-white">Release Year:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control text-white" placeholder="Enter release year" >
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label text-white">Description:</label>
          <div class="col-sm-10">
            <textarea type="number" class="form-control text-white" placeholder="Enter description game" ></textarea>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-sm-12 text-center " >
            <button class="btn btn-dark btn-md" (click)="goBack()">Cancel</button>
            <button class="btn btn-danger btn-md" (click)="create()">Create!</button>

          </div>


        </div>


      </div>
    </div>
  </div>

