<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <header class="py-3 mb-2 border-bottom">
      <div class="container-fluid d-flex align-items-center">
        <div class="container-fluid d-flex justify-content-evenly">
          <div>
            <img src="../assets/img/porquinho_branco_horizontal.svg" alt="Tindin" class="logo-tindin">
          </div>
          <app-search *ngIf="showSearch()"></app-search>
          <div class="btn-group align-self-center" dropdown>
            <a href="#" class="d-block link-dark text-decoration-none
              dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown"
              aria-expanded="false" id="button-animated" dropdownToggle
              type="button" aria-controls="dropdown-animated">
              <img src="../assets/img/avatar.png" alt="mdo" width="40"
                height="40" class="rounded-circle avatar-circle">
            </a>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-animated">
              <li role="menuitem"><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>


    <router-outlet></router-outlet>
    <app-footer></app-footer>

  </body>
</html>
