<footer class="footer mt-auto py-3 fixed-bottom">
  <div class="container d-flex justify-content-between align-self-center">
    <span class="text-white copy">Coded by Veronica Ciolfi Tindin - Test for Job
      Position!</span>
    <div class="d-flex">
      <div class="icon"> <i class='bx bxl-facebook i'></i></div>
      <div class="icon"> <i class='bx bxl-twitter i' ></i></div>
      <div class="icon"> <i class='bx bxl-google-plus i'></i></div>
      <div class="icon"> <i class='bx bxl-youtube i'></i></div>
      <div class="icon"> <i class='bx bxl-instagram i' ></i></div>

    </div>
  </div>
</footer>
